---
title: 'JP & Sarahi'
---

%header#header.centered-navigation{role: "banner"}
  .centered-navigation-wrapper.scroll-on-page
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "JP & Sarahi", src: "/assets/images/logo.svg"}
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{href: "javascript:void(0)"} MENU
    %nav.scroll-on-page-top{role: "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link.logo=link_to 'JP&S', '#slider', alt: 'JP & sarahi', class: 'scroll-on-page-link'
        %li.nav-link= link_to 'Nosotros', '#slider', class: 'scroll-on-page-link'
        %li.nav-link= link_to 'Detalles', '#wedding', class: 'scroll-on-page-link'
        %li.nav-link= link_to 'Fecha', '#playa', class: 'scroll-on-page-link'
        %li.nav-link= link_to 'Mesa', '#gift', class: 'scroll-on-page-link'
        %li.nav-link= link_to 'RSVP', '#rsvp', class: 'scroll-on-page-link'

%section#slider
  %div
    = image_tag 'slider/slider1.JPG'

%section#wedding
  %h2 Nos emociona invitarte a nuestra boda el próximo
  %h2 30 de septiembre 2017 en Playa del Carmen, Quintana Roo.
  .grid-items-lines
    .grid-item
      %h3 5:00 pm<br> Ceremonia religiosa
      %p @ Playa frente a Azul Fives Hotel
    .grid-item
      %h3 6:00 pm<br> Cocktail
      %p Terraza Skybar @ Azul Fives Hotel
    .grid-item
      %h3 8:00 pm<br> Recepción
      %p Playa frente a Hotel
    .right-cover
    .bottom-cover

%section#playa.bg-light-blue
  %h1 Playa del Carmen
  %h2
  .row
    .box
      .box-content.bg-blue
        %h3 Hotel
        %ul
          %li Test
          %li Test

        .m-t-md
          .modal
            %label{:for => "test"}
              .modal-trigger
                %a.btn Test modal
            %input#restaurantes.modal-state{:type => "checkbox"}
              .modal-fade-screen
                .modal-inner
                  .modal-title.c_blue Test modal title
                  .modal-close{:for => "test"}
                  .restaurantes.p-b-xl
                    %h1.text-center.m-t-lg.c_pink Test
                  .modal-close-btn.m-t-xl.m-b-xl{:for => "test"}
                    CERRAR

%section#contact.bg-light-blue
  %h1 Contacto
  .m-t-xl.text-center
    %h4.m-t-xl
      Marcela González Grijalva<br>
      Teléfono oficina: 01 (951) 5175044<br>
      01 (951) 5178737 / 044951473098


%section#gift.bg-pink
  %h1 El Regalo
  .m-t-xl.text-center
    %p Para nosotros el mayor regalo es que puedan acompañarnos en este día tan importante, especial y feliz en nuestras vidas.
    %p Sin embargo, si nos quieren hacer un regalo para nuestra boda, lo mejor para nosotros sería tener una luna de miel de ensueño para celebrar nuestro enlace.
    %p Si estas leyendo esto es porque eres muy importante para nosotros, estamos muy emocionados de poder compartir este día contigo, nos vemos en Oaxaca.
  .m-t-xl.boxes
    .box.text-right
      .small
        Banco: HSBC<br>
        Numero de cuenta: 6405577887<br>
        Clabe: 021580064055778877
    .box.text-left
      .small
        Banco: Banorte<br>
        Numero de cuenta: 0227275999<br>
        Clabe:072 580 00227275999 4

%section#rsvp.bg-blue
  .text-center
    %h1 RSVP
    %p Es muy importante para nosotros que nos ayudes a confirmar tu asistencia a todas las actividades.
    %p Por favor, responde a este cuestionario:
    %button
      =link_to 'Responder ahora', 'https://docs.google.com/forms/d/1eTQ13Y7eDcZMcVmLA1_d4VPnl1weBwQ7kRlKzKP6c0g/viewform?edit_requested=true', target: '_blanc'
